@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Libr</h1>
    <p class="lead">A Simple Library App built with ASP.NET Framework.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
       
</div>